body {
    margin: auto;
    font-family: sans-serif;
    background-image: url(stade-ostersund.jpeg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

span{
    font-weight: bold;
}

h1{
    text-align: left;
    margin: auto;
    font-size: 40px;
    font-style: italic;
    font-weight: 100px;
    color: rgb(10, 101, 254);
    text-shadow: 2px 5px 10px #d8bb15;
}



.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li  {display: inline;}

.menu ul  li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;   
}



.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#btn{

    background-color: rgb(61, 201, 254);
    border: 1px solid whitesmoke;
}

#btn:hover {
    border: 1px solid red;
    border-radius: 25%;
    transform: rotate(7deg) scale(1.4)
}
.hommes {width: 500px;height: 400px;margin: 0px 0px 0px 25px;}
.femmes{width: 500px;height: 400px;margin: 0px 0px 0px 25px;}
.nations{width: 500px;height: 400px;margin: 0px 0px 0px 25px;}

.tableau-style1{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    border: 2px solid midnightblue;
      
}
.tableau-style2{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    border: 2px solid midnightblue;
      
}
.tableau-style3{
    border-collapse: collapse;
    min-width: 400px;
    width: auto;
    box-shadow: 0 5px 50px rgba(0,0,0,0.15);
    border: 2px solid midnightblue;
      
}
thead tr{
    background-color: midnightblue;
    color: #fff;
    text-align: left;
}

th, td{
    padding: 5px 10px;
}
tbody tr, td, th {
    border: 1px solid #ddd;
}
tbody tr:nth-child(even) {
background-color: #f3f3f3;
}
tbody tr:nth-child(odd) {
    background-color: #fff;
    }
img {
    width: 12px;
    height: 12px;
}
@media screen and (max-width: 1300px)
{
    .container{
        display: flex;
        flex-direction: column;
    }
    .femmes{
        margin-top: 900px;
    }
    .nations{
        margin-top: 800px;
        margin-bottom: 100px;
    }
}
