body {
    margin: auto;
    font-family: sans-serif;
    background-image: url(stade-ostersund.jpeg);
    background-size: cover;
}

span{
    font-weight: bold;
}

h1{
    text-align: left;
    margin: auto;
    font-size: 40px;
    font-style: italic;
    font-weight: 100px;
    color: rgb(10, 101, 254);
    text-shadow: 2px 5px 10px #d8bb15;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li  {display: inline;}

.menu ul  li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;   
}

.container1 {
    margin-left: 25px;
    border: 2px solid rgb(10, 101, 254);
    border-radius: 10px 10px 10px 10px;
    height: 600px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5)
}



.container2 {
    margin-right: 0px;
    margin-left: 1100px;
    margin-top: -580px;
    font-weight: bolder;
    border: 2px solid rgb(10, 101, 254);
    border-radius: 10px 10px 10px 10px;
    margin-block: center;
    height: 200px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5)
}

.container3 {
    margin-right: 0px;
    margin-left: 1100px;
    margin-top: 150px;
    font-weight: bolder;
    border: 2px solid rgb(10, 101, 254);
    border-radius: 10px 10px 10px 10px;
    margin-block: center;
    height: 200px;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5)
}

.premier{font-weight: bold;color: #DCB253;}
.deuxieme {font-weight: bold;color: #868992;}
.troisieme {font-weight: bold;color: #614E1A;}
