body {
    margin: auto;
    font-family: sans-serif;
    background-image: url(stade-ostersund.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

span{
    font-weight: bold;
}

h1{
    text-align: left;
    margin: auto;
    font-size: 40px;
    font-style: italic;
    font-weight: 100px;
    color: rgb(10, 101, 254);
    text-shadow: 2px 5px 10px #d8bb15;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li  {display: inline;}

.menu ul  li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: red;
    font-weight: bold;   
}
